
h1{
    color:rgb(16, 134, 218);
}
.p1{
    color:blue;
}
.container{
    border: 3px solid blue;
    padding: 10px;
    border-radius: 10px;
    background-color:white;
    margin: 10px;
    text-align: center;
    box-shadow: 5px 10px 18px #888888;
}
.navbar a {
    margin-right: 20px;
    text-decoration: none;
}
.container:hover{
    background-color: rgb(123, 181, 195);
}
.navbar{
    background-color:rgb(0, 242, 255);
    color:white;
    padding: 10px;
    text-align: center;
    margin-left: 13px;
}
.navbar:hover{
    background-color: rgb(123, 181, 195);
}
