h1{
    color:red;
}
.p1{
    color:blue;
}
.container{
    border: 3px solid blue;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.container:hover{
    background-color: rgb(103, 111, 113);
}